[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = ">=2.0.0,<3"
pytest = "==7.4.0"

[dev-packages]
setuptools = "==68.0.0"

[requires]
python_version = "3.7"
